
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: var(--dark-color-1);

  .logo-container {
    font-size: 1.8rem;
    height: 100%;
    width: 140px;
    display: flex;
    align-items: center;
    color: var(--light-color-1);
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      font-size: 1.8rem;
      padding: 10px 15px;
      cursor: pointer;
      color: var(--light-color-1);
      &:hover{
        color: var(--beige-color-2);
      }
    }
  }
}
